[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
mock = {version = "*",markers = "python_version<'3.0'"}

[packages]
cdislogging = {path = ".",editable = true}
